@import '../../../../SASS/utilities/variables.scss';
@import '../../../../SASS/utilities/mixins.scss';


  .stack-section {
    @include centerColumn;
    height: 100%;
    width: 100%;
    margin-top: 5rem;

    &__container2 {
      @include spaceBetween;
      width: 130px;
      height: 50px;

      &__img {
        height: 30px;
        width: 40px;
        object-fit: contain;
      }
    }
  }
