.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 6rem;
  width: 100%;
  position: fixed;
  z-index: 3;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  top: 0;
  margin-left: -8px;
}
.nav__left-section {
  display: none;
}
.nav__left-section h2 {
  margin: 1rem;
  color: #5327c1;
}
.nav__center-section {
  position: relative;
}
.nav__center-section__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 3rem;
  border-radius: 30px;
  background-color: #030014;
  border: solid;
  border-width: 3px;
  border-color: white;
  text-shadow: rgb(240, 240, 240) 1px 0 10px;
  box-shadow: 1px 1px 10px 10px #5327c1;
  width: 360px;
}
.nav__center-section__navbar a {
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.nav__center-section__navbar a:hover {
  color: rgb(240, 240, 240);
  cursor: pointer;
  padding-bottom: 5px;
  font-size: 22px;
}
.nav__center-section__home-icon {
  position: absolute;
  left: 129px;
  top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-radius: 30px;
  background-color: #030014;
  border: solid;
  border-width: 3px;
  border-color: white;
  box-shadow: 1px 1px 10px 10px #5327c1;
  padding: 8px;
  margin: 2rem;
  color: white;
  width: 25px;
}
.nav__center-section__home-icon:hover {
  color: rgb(240, 240, 240);
  cursor: pointer;
  background-color: #5327c1;
}
.nav__right-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: none;
}
.nav__right-section__github {
  margin: 1rem;
  font-size: 24px;
  color: #5327c1;
  font-weight: bold;
  box-shadow: 1px 1px 10px 5px #5327c1;
  border-radius: 30px;
  border-color: white;
  border: solid;
  border-width: 3px;
  padding: 5px;
}
.nav__right-section__github:hover {
  color: rgb(240, 240, 240);
  cursor: pointer;
  opacity: 1;
  font-size: 26px;
}

@media (min-width: 480px) {
  .nav__center-section__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 400px;
  }
  .nav__center-section__navbar p {
    font-size: 18px;
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
@media (min-width: 768px) {
  .nav__center-section__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 520px;
  }
  .nav__center-section__navbar p {
    font-size: 20px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
}
@media (min-width: 1024px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .nav__right-section {
    width: 310px;
    display: flex;
    justify-content: flex-end;
  }
  .nav__right-section__Github {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 3rem;
    border-radius: 30px;
    background-color: #030014;
    border: solid;
    border-width: 3px;
    border-color: white;
    text-shadow: rgb(240, 240, 240) 1px 0 10px;
    box-shadow: 1px 1px 10px 10px #5327c1;
    padding: 1rem;
    margin: 2rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 30px;
    color: white;
    height: 35px;
    width: 35px;
    margin: 1rem;
    border-radius: 3rem;
    padding: 3px;
    margin-right: 2rem;
  }
  .nav__right-section__Github:hover {
    color: rgb(240, 240, 240);
    cursor: pointer;
    background-color: #5327c1;
  }
  .nav__center-section__navbar {
    margin-top: 1rem;
  }
  .nav__center-section__navbar a {
    font-size: 22px;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .nav__center-section__home-icon {
    left: -500px;
    top: -15px;
  }
  .nav__left-section {
    display: block;
    width: 310px;
    display: flex;
    justify-content: flex-end;
  }
  .nav__left-section h2 {
    margin: 1rem;
    margin-top: 2rem;
    color: white;
    text-shadow: rgb(240, 240, 240) 1px 0 10px;
  }
}/*# sourceMappingURL=header.css.map */